@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }

body{
    font-family: 'Chakra Petch', sans-serif;
}

#trackerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
}

site{
    display: flex;
    flex-direction: column;
}

#playerContainer{
    display: flex;
    flex-direction: row;
}

.scoreContainer{
    display: flex;
    flex-direction: row;
}

#playerContainerLeft, #playerContainerRight{
    display: flex;
    flex-direction: column;
}

#primary1Containerleft, #primary2Containerleft, #secondary1Containerleft, #secondary2Containerleft, #secondary3Containerleft{
    display:flex;
    flex-direction: row;
}

#primary1Containerright, #primary2Containerright, #secondary1Containerright, #secondary2Containerright, #secondary3Containerright{
    display:flex;
    flex-direction: row;
}

.leftnumber, .rightnumber{
    max-width: 2vw;
    height: 3vh;
    appearance: textfield;
    font-size: 1.5vh;
    margin-right:0.5vw;
}

.roundTrackBtn{
    flex-grow: 1;
    margin-left:1vh;
    margin-right: 1vh;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 9vh;
    border:0.5vh solid black;
    transition: border 5000ms ease-in-out,
}

.scoreDiv{
    margin: auto;
}

#primary1Containerright, #primary2Containerright{
    max-height: 15vh;
}

#primary1Containerleft, #primary2Containerleft{
    max-height: 15vh;
}

#secondary1Containerright, #secondary2Containerright, #secondary3Containerright{
    max-height: 18vh;
}

#secondary1Containerleft, #secondary2Containerleft, #secondary3Containerleft{
    max-height: 18vh;
}

.subSec{
    overflow: scroll;
    border: solid 1px;
    margin-bottom: 0.5vh;
}

.subPrim{
    margin-bottom: 0.5vh;
}

.primHeader, .secHeader{
    margin-top:0
}

.scoreBox{
    display: flex;
}

.subScore{
    flex:auto
}